<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
        rel="stylesheet"
        href="{{ url_for('static', filename='indux.css') }}"
    >
    <title>About</title>
</head>
<body>
    <h1>About Capilar

**Capilar** began as an academic project. It represents my learning process in programming: testing ideas, making mistakes, reworking them, researching, breaking the code, understanding why, and trying again—until it works.

Throughout the development process, I’ve been putting concepts from HTML, CSS, Python, Flask, programming logic, user experience, and data organization into practice, transforming theoretical knowledge into something visual, functional, and built by me.

More than just creating a platform about hair care, my goal with Capilar is to track my own progress in technology.

Every new feature, layout adjustment, and problem solved represents a skill I didn’t have before.

The project is still growing. And so am I.
</h1>
</body>
</html>